<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Meu site Django</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.js"></script>
</head>



<body>
<div class="ui inverted attached menu">
    <div class="ui container">
    <a href="{% url 'home' %}" class="item">Django port-scanning</a>

    </a>
    </div>
</div>


<div class="ui container inverted segment">
    <center>
    <div class="ui search">
                <div class="ui labeled input">
                      <div class="ui label">
                        Procurar portas abertas

                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Pesquisar</button>
                        </form>


                      </div>


                    </div>

        {% if portas_abertas %}
        <h2>Portas que estão abertas</h2>
        <h2>{{ portas_abertas }}</h2>
        {% endif %}

        {% if resposta_errada %}
        <h2>Por favor insira um endereço ou IP válido</h2>
        {% endif %}



                <div class="results"></div>
            </div>
</div>
    </center>

</body>
</html>