<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Meu site Django</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.js"></script>


</head>

<style>
    body{
        background-color: #1b1c1d;
        text-align: center;
        padding: .5rem;
    }

    .item{
    text-align: center;
    }

    .ui.inverted.segment, .ui.primary.inverted.segment {
        background: #e8e8e8;
        color: rgba(0,0,0,.6);
    }

    #navbar {
            display: grid;
            align-items: center;
            grid-template-areas: 'ui.inverted.attached.menu';
            background: #1b1c1d;;
            padding: .1rem;
        }
</style>

<body>
<nav id="navbar">
    <div class="ui inverted attached menu">
        <div class="ui container">

            <a href="{% url 'home' %}" class="item">Django port-scanning</a>

        </a>
        </div>
    </div>
</nav>
<div class="ui container inverted segment">
    <div class="ui search">
                <div class="ui labeled input" id="mostra">
                      <div class="ui label">
                        Procurar portas abertas

                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Pesquisar</button>
                        </form>


                      </div>


                    </div>

        {% if portas_abertas %}
        <h2>Portas que estão abertas</h2>
        <h2>{{ portas_abertas }}</h2>
        {% endif %}



                <div class="results"></div>
            </div>
</div>

</body>
</html>